{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": { "modules": "commonjs" },
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-sass"
          ]
        }
      }
    ]
  ]
}
