$breakpoint-xs-max: 575px;

$breakpoint-sm-min: 576px;
$breakpoint-sm-max: 768px;

$breakpoint-md-min: 769px;
$breakpoint-md-max: 1199px;

$breakpoint-lg-min: 1200px;
$breakpoint-lg-max: 1919px;

$breakpoint-xl-min: 1920px;
