/* @styled-jsx=global */

@import "~normalize.css/normalize";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-font-smoothing: antialiased;
  font-family: Helvetica, sans-serif;
}

:focus,
:active {
  outline: none;
}
